/*全体の設定
-------------------------------------------------------------------*/
body {
    margin: 0px;
    padding: 0px;
    color: black; /*文字色*/
    font-family: "HG正楷書体-PRO";/*書体*/
    font-size: 16px; /*文字サイズ*/
    line-height:2; /*行間*/
    background-color: white;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form,select,input,textarea {margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

.container {
    width:600px;
    margin:0 auto;
    
}
/*自己紹介ブロック*/
.self-introduction {
    text-align: center;
    padding:30px;
}
.self-introduction h1 {
    letter-spacing:3px;
    font-size:30px;
}
/* Linkブロック*/
.container h2 {
    clear: both;
	margin-bottom: 20px;
	color: #fff;		/*文字色*/
	padding: 10px 20px;	/*上下、左右への余白*/
	background: #645932;	/*背景色*/
	border-radius: 10px;	/*角を丸くする指定。この１行を削除すれば角丸がなくなります。*/
}
.btn {
    padding:10px 40px;
    color:white;
    display:inline-block;
    margin-right:10px;

}
.btn-wrapper {
    text-aline:center;
}
.twitter {
    background-color:rgba(25, 118, 161);
}
.qiita {
    background-color:rgb(99, 228, 25);
}
.github {
    background-color:rgb(15, 11, 43);
}
.sns {

    background-color:white;
    padding:30px 0 30px 0;
}
.fab {
    padding:4px;
}
/*好きなもののコーナー*/
.my-favorite {
    background-color:white;
    padding:30px 0;
    height:800px;
}
.food {
    float:left;
    height:213px;
    width:320px;
    margin-left:60px;
}
.food-text {
    float:right;
    width:300px;
    padding-right:200px;

}
.my-food {
    height:250px;
}
/* お問い合わせフォーム*/
.contact-form {
    width:600px;
    padding-left:20px;
}
.submit {
    background-color:#dee7ec;
    color:#889eab;
    padding:3px 15px;
    margin-top:5px;
}
.contact-form textarea {
    width:166px;
}
/*カレンダーの部分*/
#calendar {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 10px;
}

h1 {
    font-size: 18px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

td:first-child {
    color: red;
}

td:last-child {
    color: royalblue;
}

td.is-disabled {
    color: #ccc;
}
.calender {
    padding-top:10px
}

/* お問い合わせフォーム*/
button[type="submit"] {
    padding: 1em 2em;
    color:black;
}